body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #0f172a;
    color: #e5e7eb;
}

header {
    padding: 3rem;
    text-align: center;
    background: #020617;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

h2 {
    border-bottom: 2px solid #38bdf8;
    display: inline-block;
    margin-bottom: 1rem;
}

.project {
    background: #020617;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

a {
    color: #38bdf8;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    background: #020617;
    padding: 0.5rem 1rem;
    margin: 0.3rem;
    border-radius: 6px;
}