<!DOCTYPE html>
<html>
    <head>
        <title>Update Job</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Update Job Status</h1>
            <form method="POST">
                <p><strong>Company:</strong> {{ job[1] }}</p>
                <p><strong>Postition:</strong> {{ job[2] }}</p>
                <label for="status">Status</label>
                <select name="status" required>
                    <option value="Pending" {% if job[4] == "Pending" %}selected{% endif %}>Pending</option>
                    <option value="Interview" {% if job[4] == "Interview" %}selected{% endif %}>Interview</option>
                    <option value="Offer" {% if job[4] == "Offer" %}selected{% endif %}>Offer</option>
                    <option value="Rejected" {% if job[4] == "Rejected" %}selected{% endif %}>Rejected</option>
                </select>    
                <br><br>
                <button type="submit">Update</button>            
            </form>
            <a href="/">Back to Jobs</a>
        </div>
    </body>
</html>